.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.scroll {
    display: inline-block;
    border: 1px dotted cornflowerblue;
    background-color: darkgrey;
    height: 100px;
    overflow: auto;
}
.scroll ol {
    margin: 0;
}
.scroll li {
    border: 1px dotted green;
    height: 2rem;
    width: 4rem;
}
